* {
  box-sizing: border-box;
}

a {
    display: block;
}
/* unvisited link */
a:link {
  color: black;
}
/* visited link */
a:visited {
  color: black;
}

.coolBox {
  float: left;
  border: 5px outset #003377;
  background-color: #999;
  text-align: center;
  width: 50%;
  padding: 3px;
}
.coolBox:hover {
  background-color: #00ff33;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #005599;
}

/* Style the header */
header {
  background-color: #003377;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #999;
  padding: 1px;
  color: black;
}

li {
    display: inline;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #999;
  text-align: center;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #003377;
  text-align: center;
  color: #999;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
